<h1>Level 3/?</h1>
<p>Hver (voksne) person i rummet har husket på et ord. Spørg dem efter deres ord.</p>
<p>Et af disse ord havde stor betydning ved en hændelse lige da vi lærte hinanden at kende.</p>
<p>Hvilken <strong>person</strong> husker dette ord?</p>
<mat-form-field appearance="fill">
  <mat-select [formControl]="control">
    <mat-option [value]="'Alexander'">Alexander</mat-option>
    <mat-option [value]="'Christine'">Christine</mat-option>
    <mat-option [value]="'Jannick'">Jannick</mat-option>
    <mat-option [value]="'Patrick'">Patrick</mat-option>
    <mat-option [value]="'Sally'">Sally</mat-option>
  </mat-select>
</mat-form-field>
<button mat-flat-button [disabled]="control.invalid" (click)="onCheck()">
  Check svar
  <mat-icon>
    checkmark
  </mat-icon>
</button>
