div {
  background-color: lightgray;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 2rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  &.backspace {
    width: 5rem;
  }
  &.enter {
    width: 5rem;
    font-size: 1.25rem;
  }
  &.correct {
    background-color: green;
    color: white;
  }
  &.incorrect {
    background-color: darkgray;
    color: white;
  }
  &.wrong-position {
    background-color: darkorange;
    color: white;
  }
}
