/* You can add global styles to this file, and also import other style files */
body {
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(rebeccapurple, 90%, black);
}

html {
  font-size: min(3.5vw, 2vh);
}

html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  *:not(b,strong,script) { box-sizing: border-box;  display: block; }
}


